<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet" />

<section class="container about" id="about">
    <div class="main-title">
        <h2>About <span>me</span></h2>
    </div>
    <div class="about-container">
        <div class="left-about">
            <h4>Information About me</h4>
           
        </div>
        <div class="right-about">
            <div class="about-item">
                <div class="abt-text">
                    <p class="large-text">50+</p>
                    <p class="small-text">
                        Projects <br /> Completed
                    </p>
                </div>
            </div>
            <div class="about-item">
                <div class="abt-text">
                    <p class="large-text">5+</p>
                    <p class="small-text">
                        Years of <br /> experience
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="about-stats">
        <h4 class="stat-title">My Skills</h4>
        <div class="progress-bars">
            <div class="progress-bar">
                <p class="prog-title">html5</p>
                <div class="progress-con">
                    <p class="prog-text">80%</p>
                    <div class="progress">
                        <span class="html"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <p class="prog-title">css3</p>
                <div class="progress-con">
                    <p class="prog-text">95%</p>
                    <div class="progress">
                        <span class="css"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <p class="prog-title">javascript</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="js"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <p class="prog-title">ReactJS</p>
                <div class="progress-con">
                    <p class="prog-text">75%</p>
                    <div class="progress">
                        <span class="react"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <p class="prog-title">NodeJS</p>
                <div class="progress-con">
                    <p class="prog-text">87%</p>
                    <div class="progress">
                        <span class="node"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <p class="prog-title">Java</p>
                <div class="progress-con">
                    <p class="prog-text">70%</p>
                    <div class="progress">
                        <span class="python"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="stat-title">My Timeline</h4>
    <div class="timeline">
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <p class="tl-duration">2003 - 2017</p>
            <h5>Studies at <span> St Aloysius High School</span></h5>
            <p>
                I have done my Schooling from St Aloysius High School
            </p>
        </div>
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <p class="tl-duration">2018 - 2022</p>
            <h5>Computer Science<span>GLA Universty Mathura</span></h5>
            <p>
                Pursued my Btech degree in Computer Science  engineering from GLA Universty Mathura


            </p>
        </div>
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <p class="tl-duration">2016 - 2017</p>
            <h5>C programming<span> - Slime Tech</span></h5>
            <p>
                Learned Logic building in c programming.
            </p>
        </div>
        <div class="timeline-item">
            <div class="tl-icon">
                <i class="fas fa-briefcase"></i>
            </div>
            <p class="tl-duration">2022 - Present</p>
            <h5>Full Stack Devloper<span> </span></h5>
            <p>
                Learning full stack devlopment
            </p>
        </div>
       
        
    </div>
</section>
<app-portfolio></app-portfolio>