<header class="container header active" id="home">
    <div class="header-content">
        <div class="right-header">
            <h1 class="name">Hi, I'm <span>Utkarsh Agarwal</span></h1>
            <p>
                I'm a Web Developer, I love to create beautiful and functional websites. 
            </p>
        </div>
        <div class="left-header">
            <div class="h-shape"></div>
            <div class="image">
                
            </div>
        </div>
    </div>
</header>
<app-about></app-about>